<div class="AccountList">
		<h2>
            Account list
		</h2>
		<span>The list of available users and their details : </span>
        <h2>
            &nbsp;
        </h2>
		<table class="mainTable">
				<tbody dojoattachpoint="tableBody">
						<tr>
                            <th class="left" >User Name</th>
                            <th class="left" >Name</th>
                            <th class="left" >Contact</th>
                            <th class="left" >Status</th>
                        </tr>
                </tbody>
		</table>
</div>